@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: #180725;
    color: rgb(231, 217, 224);
}

.apresentacao-principal {
    margin: 10% 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;

}

.titulo-destaque {
    color: #FF508F;
}

.titulo-destaque:hover {
    font-size: 37px;
    transform: scale(1.1);
    border-color: #333;
}

.apresentacao__conteudo__texto {
    color: white;
    font-size: 17px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.linguagem-destaque {
    color: #23bcb4;
    font-size: 18px;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Interatividade para as liguagens */
.linguagem-destaque:hover {
    font-size: 20px;
    transform: scale(1.1);
    background-color: #23bcb4;
    color: black;
}

.apresentacao__links {
    /*Localização dos botões dentro do contêiner div*/
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    background-color: #FF508F;
    color: #054d49;
    /* Alternancia de cor de fundo */
    transition: background-color 0.3s, border-color 0.3s;
    /* Dimenssões externas sendo: primeiro 0%: Vertical e segungo 0%: Horizontal*/

    padding: 20px 0px;
    /*Dimenssões internas */
    width: 280px;
    height: 20px;
    /* formatação do texto + Remove sublinhado dos links */
    text-align: center;
    text-decoration: none;
    /* importação de fonte */
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: px;
    /* Formatação bordas internas + externas */
    border-radius: 16px;
    border: 2px solid #da2c6c;
    border-style: outset;


}

.apresentacao__links__link:hover {
    /* Cor de fundo ao passar o mouse sobre os links + Cor da borda ao passar o mouse  */
    background-color: #333;
    border-color: #333;
}

.apresentacao__links__link__email {
    background-color: #FF508F;
    color: #054d49;
    /* Alternancia de cor de fundo */
    transition: background-color 0.3s, border-color 0.3s;
    /* Dimenssões externas sendo: primeiro 0%: Vertical e segungo 0%: Horizontal*/
    margin-top: 5%;
    padding: 20px 168px;
    /*Dimenssões internas */
    width: 280px;
    height: 20px;
    /* formatação do texto + Remove sublinhado dos links */
    text-align: center;
    text-decoration: none;
    /* importação de fonte */
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: px;
    /* Formatação bordas internas + externas */
    border-radius: 16px;
    border: 2px solid #da2c6c;
    border-style: outset;
    /* Centralizar */
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao__links__link__email:hover {
    /* Cor de fundo ao passar o mouse sobre os links + Cor da borda ao passar o mouse  */
    background-color: #333;
    border-color: #333;
}

.img {
    width: 488px;
    height: 570px;
}